body{
    text-align: center;
    background: rgb(34, 34, 34);
    margin: 0;
}

.first-box{
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('BG Wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 0 auto;
}

.second-box{
    border: solid 3px;
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
}

.display{
    font-size: 35px;
    padding: 10px 5px;
    width: 230px;
    text-align: right;
    border-radius: 20px;
    border: solid 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(51, 50, 50);
    letter-spacing: -3.5px;
    outline: none;
    background: linear-gradient(#CACACA, #ffffff, #ffffff, #ffffff, #ffffff, #CACACA);
}

.bttn{
    margin: 5px 5px 5px 5px;
    font-size: 25px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: solid 2px black;
    font-family: monospace;
    background: linear-gradient(#9A9A9A, #FFFFFF);
    transition: transform .11s linear;
    cursor: pointer;
}

.opbttn{
    background: linear-gradient(orange, rgb(247, 105, 10));
    color: white;
}

.acbttn{
    background: linear-gradient(red, darkred);
    color: white;
}

.eqbttn{
    background: linear-gradient(rgb(37, 243, 243), rgb(43, 175, 43));
    padding: 15px 28.5px;
    border-radius: 20px;
}

.display:hover{
    animation: danimation .2s linear forwards;
}

@keyframes danimation{
    to{
        transform: scale(1.06);
    }
}

.bttn:hover{
    transform: scale(1.12);
}

.tbttn{
    height: 25px;
    width: 35px;
    border-radius: 200px;
}

h3{
    margin-bottom: 5px;
}

h1{
    font-size: 26px; 
    color: #02ff17; 
    text-transform: uppercase; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; 
    animation: neon-blink 1s infinite alternate; 

    /* Optional: Add a border to the text for a more pronounced neon effect */
    /* border: 2px solid #00ff00; */
}

@keyframes h1-blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

h3{
    font-size: 18px; 
    color: #00ffea; 
    text-transform: uppercase; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 0 0 10px #00ffea, 0 0 20px #00ffea, 0 0 30px #00ffea; 
    animation: neon-blink 1s infinite alternate; 
}

@keyframes h3-blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
    }
}

.selection{
    border: solid 1px white;
    height: 20px;
    width: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12px;
    background-color: rgb(27, 22, 22);
    color: white;
    cursor: pointer;
}